<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Alarm Logs
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
      <ion-list-header>
        Date:24=10-2019
      </ion-list-header>
      <ion-item>Terminator II</ion-item>
      <ion-item>The Empire Strikes Back</ion-item>
      <ion-item>Blade Runner</ion-item>
    </ion-list>

</ion-content>
