<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Alarm Logs
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
  <ion-segment (ionChange)="onFilterLogs($event)">
    <ion-segment-button value="on" checked>Time On Logs</ion-segment-button>
    <ion-segment-button value="temporary">Temporary Off Logs</ion-segment-button>
  </ion-segment>
  <ion-list *ngFor="let alarm of myAlarmDatesData | async">
      <ion-list-header>
        Date:{{alarm.key}}
      </ion-list-header>
      <ion-item *ngFor="let item of alarm | keyvalue">
          Time On:{{item.value | date:'short':'+0300' }}
      </ion-item>
      
    </ion-list>

</ion-content>
