<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title  *ngIf="(afAuth.user | async )as user;">
        {{user.email}}
    </ion-title>

    <ion-buttons (click)='logout()' slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
   
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Alarm:{{alarmvalue}}</p>
      <ion-button expand="block" (click)="toggleState()">{{stateText}}</ion-button>
  </div>

    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</ion-content>
