<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title  *ngIf="(afAuth.user | async )as user;">
        {{user.email}}
    </ion-title>

    <ion-buttons (click)='logout()' slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
   
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding" *ngIf="state">
  <div>
    <p>Alarm:{{alarmvalue}}</p>
      <ion-button expand="block" (click)="toggleState()">{{stateText}}</ion-button>
  </div>
</ion-content>

<ion-content class="ion-padding" *ngIf="!state">
    <div class="off-buttons">
        <ion-grid>
            <ion-row>
              <ion-col *ngIf="!showTemporary">
                <p>Alarm:{{alarmvalue}}</p>
                <ion-button expand="block" (click)="toggleState()">{{stateText}}</ion-button>
              </ion-col>

              <ion-col *ngIf="showTemporary">
                <ion-item color="dark">
                    <ion-label>Temporary Disable</ion-label>
                    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
                  </ion-item>
              </ion-col>

            </ion-row>
        </ion-grid>
    </div>
   
    
        <div class="circle-progress-container" *ngIf="showTemporary">
            <circle-progress (click)="startTime()"
          [percent]="percent"
          [maxPercent]="100"
          [radius]="radius"
          [showSubtitle]="true"
          [subtitle]="remainingTime"
          [subtitleFontSize]="40"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [outerStrokeColor]="'#8000FF'"
          [showZeroOuterStroke]="false"
          [backgroundStroke]="'#33003F'"
          [backgroundStrokeWidth]="3"
          [outerStrokeGradient]="true"
          [outerStrokeGradientStopColor]="'#FF00CB'"
          [showInnerStroke]="false"
        ></circle-progress>
        </div>
    
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showTemporary">
          <ng-container *ngIf="timer == false; else running">
            <ion-fab-button (click)="startTime()">
              <ion-icon name="play"></ion-icon>
          
            </ion-fab-button>
          </ng-container>
    
          <ng-template #running>
            <ion-fab-button (click)="stopTime()">
              <ion-icon name="square"></ion-icon>
    
            </ion-fab-button>
          </ng-template>
    
        </ion-fab>  
        <!-- tabs for alarm page and logs -->
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="alarm">
              <ion-label>Alarm</ion-label>
              <ion-icon name="clock"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="logss">
              <ion-label>Alarm Logs</ion-label>
              <ion-icon name="card"></ion-icon>

            </ion-tab-button>
          </ion-tab-bar>

        </ion-tabs>
        <!-- end tabs -->
</ion-content>
