
<ion-content >
        <!-- tabs for alarm page and logs -->
        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="alarm">
              <ion-label>Alarm</ion-label>
              <ion-icon name="clock"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="logss">
              <ion-label>Alarm Logs</ion-label>
              <ion-icon name="card"></ion-icon>

            </ion-tab-button>
          </ion-tab-bar>

        </ion-tabs>
        <!-- end tabs -->
</ion-content>
